files:
  "/etc/nginx/conf.d/02_www_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen       80;
        server_name  www.mrfidgety.com;
        return       301 https://mrfidgety.com$request_uri;
      }
      server {
        listen       443;
        server_name  www.mrfidgety.com;
        return       301 https://mrfidgety.com$request_uri;
      }
container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
