<footer id="footer">
  <div class="container">
    <p>I sincerely hope <i>the things I get up to</i> can inspire or motivate you to have a go at something you want to achieve.</p>
    <p>~ Tristan</p>
  </div>
</footer>
